<h1>Listing checkins</h1>

<table>
  <tr>
    <th>User budge</th>
    <th>Is budgee</th>
    <th>User</th>
    <th>Trait</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Did action</th>
    <th>Was desired</th>
    <th>Completed budge</th>
    <th>Comment</th>
    <th>Disputable by</th>
    <th>Disputed</th>
    <th>Disputed reason</th>
    <th>Amount integer</th>
    <th>Amount decimal</th>
    <th>Amount string</th>
    <th>Amount text</th>
    <th>Hour of day</th>
    <th>Day of week</th>
    <th>Week of year</th>
    <th>Checkin via</th>
    <th>Needs confirmation</th>
    <th>Confirmed</th>
    <th>Post to facebook</th>
    <th>Post to twitter</th>
    <th>Post to foursquare</th>
    <th>Facebook post</th>
    <th>Tweet</th>
    <th>Foursquare checkin</th>
    <th>Foursquare category</th>
    <th>End clock remaining</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checkins.each do |checkin| %>
  <tr>
    <td><%= checkin.user_budge_id %></td>
    <td><%= checkin.is_budgee %></td>
    <td><%= checkin.user_id %></td>
    <td><%= checkin.trait_id %></td>
    <td><%= checkin.latitude %></td>
    <td><%= checkin.longitude %></td>
    <td><%= checkin.did_action %></td>
    <td><%= checkin.was_desired %></td>
    <td><%= checkin.completed_budge %></td>
    <td><%= checkin.comment %></td>
    <td><%= checkin.disputable_by %></td>
    <td><%= checkin.disputed %></td>
    <td><%= checkin.disputed_reason %></td>
    <td><%= checkin.amount_integer %></td>
    <td><%= checkin.amount_decimal %></td>
    <td><%= checkin.amount_string %></td>
    <td><%= checkin.amount_text %></td>
    <td><%= checkin.hour_of_day %></td>
    <td><%= checkin.day_of_week %></td>
    <td><%= checkin.week_of_year %></td>
    <td><%= checkin.checkin_via %></td>
    <td><%= checkin.needs_confirmation %></td>
    <td><%= checkin.confirmed %></td>
    <td><%= checkin.post_to_facebook %></td>
    <td><%= checkin.post_to_twitter %></td>
    <td><%= checkin.post_to_foursquare %></td>
    <td><%= checkin.facebook_post_id %></td>
    <td><%= checkin.tweet_id %></td>
    <td><%= checkin.foursquare_checkin_id %></td>
    <td><%= checkin.foursquare_category_id %></td>
    <td><%= checkin.end_clock_remaining %></td>
    <td><%= link_to 'Show', checkin %></td>
    <td><%= link_to 'Edit', edit_checkin_path(checkin) %></td>
    <td><%= link_to 'Destroy', checkin, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Checkin', new_checkin_path %>
