<p id="notice"><%= notice %></p>

<p>
  <b>User budge:</b>
  <%= @checkin.user_budge_id %>
</p>

<p>
  <b>Is budgee:</b>
  <%= @checkin.is_budgee %>
</p>

<p>
  <b>User:</b>
  <%= @checkin.user_id %>
</p>

<p>
  <b>Trait:</b>
  <%= @checkin.trait_id %>
</p>

<p>
  <b>Latitude:</b>
  <%= @checkin.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @checkin.longitude %>
</p>

<p>
  <b>Did action:</b>
  <%= @checkin.did_action %>
</p>

<p>
  <b>Was desired:</b>
  <%= @checkin.was_desired %>
</p>

<p>
  <b>Completed budge:</b>
  <%= @checkin.completed_budge %>
</p>

<p>
  <b>Comment:</b>
  <%= @checkin.comment %>
</p>

<p>
  <b>Disputable by:</b>
  <%= @checkin.disputable_by %>
</p>

<p>
  <b>Disputed:</b>
  <%= @checkin.disputed %>
</p>

<p>
  <b>Disputed reason:</b>
  <%= @checkin.disputed_reason %>
</p>

<p>
  <b>Amount integer:</b>
  <%= @checkin.amount_integer %>
</p>

<p>
  <b>Amount decimal:</b>
  <%= @checkin.amount_decimal %>
</p>

<p>
  <b>Amount string:</b>
  <%= @checkin.amount_string %>
</p>

<p>
  <b>Amount text:</b>
  <%= @checkin.amount_text %>
</p>

<p>
  <b>Hour of day:</b>
  <%= @checkin.hour_of_day %>
</p>

<p>
  <b>Day of week:</b>
  <%= @checkin.day_of_week %>
</p>

<p>
  <b>Week of year:</b>
  <%= @checkin.week_of_year %>
</p>

<p>
  <b>Checkin via:</b>
  <%= @checkin.checkin_via %>
</p>

<p>
  <b>Needs confirmation:</b>
  <%= @checkin.needs_confirmation %>
</p>

<p>
  <b>Confirmed:</b>
  <%= @checkin.confirmed %>
</p>

<p>
  <b>Post to facebook:</b>
  <%= @checkin.post_to_facebook %>
</p>

<p>
  <b>Post to twitter:</b>
  <%= @checkin.post_to_twitter %>
</p>

<p>
  <b>Post to foursquare:</b>
  <%= @checkin.post_to_foursquare %>
</p>

<p>
  <b>Facebook post:</b>
  <%= @checkin.facebook_post_id %>
</p>

<p>
  <b>Tweet:</b>
  <%= @checkin.tweet_id %>
</p>

<p>
  <b>Foursquare checkin:</b>
  <%= @checkin.foursquare_checkin_id %>
</p>

<p>
  <b>Foursquare category:</b>
  <%= @checkin.foursquare_category_id %>
</p>

<p>
  <b>End clock remaining:</b>
  <%= @checkin.end_clock_remaining %>
</p>


<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
