%div{'data-role' => :page}
  = render :partial => 'home/mobile_top_nav', :locals => {:title => 'Change password', :current=>'login'}
  %div{'data-role' => :content, :class => :content}

    %h1 Change your password
      
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put, :id => :change_password_form, 'data-ajax' => 'false'}) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
  
      %p
        %div= f.label :password, "New password"
        %div= f.password_field :password

      %p
        %div= f.label :password_confirmation, "Confirm new password"
        %div= f.password_field :password_confirmation
  
      %div= button "Change password", {}, {:class => :submit_form, 'data-form-id' => :change_password_form}
    
    = render :partial => 'home/mobile_footer'
    