%h1 When do people visit?

- if @global_weights[:hour].present?
  %h2 By hour of day
  %table
    %tr
      %th Hour
      %th Percent of Visits
    - @global_weights[:hour].sort_by{|h,v|h.to_i}.each do |hour, visit_stat|
      %tr
        %td= @hours[hour.to_i]
        %td= "|"*(visit_stat.percent_visits*10).ceil 
          

%hr

- if @global_weights[:day].present?
  %h2 By day of week and hour of day
  %table
    %tr
      %th Hour
      %th Percent of Visits
    - @global_weights[:day].sort_by{|d,v|d.to_i}.each do |day, day_hash|
      - if day_hash.present?
        %tr
          %td{:colspan => 3} 
            %h3= @days[day.to_i]
        - total_percent = 0.0
        - day_hash.sort_by{|h,v|h.to_i}.each do |hour, visit_stat|
          - total_percent += visit_stat.percent_visits
          %tr
            %td= @hours[visit_stat.constrained_by_id2.to_i]
            %td= "|"*(visit_stat.percent_visits*20).ceil
        %tr
          %td{:colspan => 3} 
            %div{:style => 'margin-top: 1em; font-size: 12px;'} Total: #{number_to_percentage total_percent, :precision=>0} of visits
            %hr