%div{:style => 'width: 600px; margin: 0; padding: 0;'}
  %div
    %a{:href => "http://#{DOMAIN}", :style => 'border: 0;'}= image_tag "http://#{DOMAIN}/assets/mail/beta_testers_12_2011/budge_thanks_you.jpg"
  %div{:style => 'font-size: 18px; padding: 0 40px; color: #000;'}
    %p Hello, #{@user.name}!

    %h3{:style => 'font-size: 20px; font-weight: bold;'} First of all, thank you for volunteering to beta test this very early version of Budge!

    %p 
      So far we've let you and 50 other people in, and about 20 of you are coming back daily (even with all of the bugs and confusion).  Regardless of whether you're one of those 20, or the other 30 who haven't quite been sold yet, please 
      %strong reply to this email with a single sentence stating where we lost you or where we grabbed you. 
      Extra points if you include your address, so we can send you a Budge sticker &ndash; details below!

    %p In the last few days, we've pushed a big change&hellip;

  %div
    %a{:href => "http://#{DOMAIN}", :style => 'border: 0;'}= image_tag "http://#{DOMAIN}/assets/mail/beta_testers_12_2011/budge_drawing.jpg"
  
  %div{:style => 'font-size: 18px; padding: 0 40px; color: #000;'}
    %ol{:style => 'font-size: 20px; margin-top: 0; padding-top: 0;'}
      %li More in-app tips and explanations!
      %li Longer messages between you and your coach
      %li Smarter and more relevant daily reminders
    %h3{:style => 'font-size: 20px; font-weight: bold;'} 
      %a{:href => "http://#{DOMAIN}"} Budge
      is going to succeed or fail based on our ability to really listen to you.      
    %p 
      We're not just trying to make a quick buck here, we're actually really trying to improve your (and our) ability to start new healthy habits.  It's a super crazy difficult problem, and we are humbly stumbling with our first few steps towards this goal.  
    %p
      Imagine a world where this billion-year old riddle has been solved... allowing us all to make the changes we want in ourselves! It would be awesome, right?

    %p
      %a{:href => "http://#{DOMAIN}", :style => 'font-weight: bold;'} Keep playing Budge &rarr;
    
  %div
    %a{:href => "http://blog.habitlabs.com", :style => 'border: 0;'}= image_tag "http://#{DOMAIN}/assets/mail/beta_testers_12_2011/budge_team.jpg"
  %div
    = image_tag "http://#{DOMAIN}/assets/mail/beta_testers_12_2011/budge_sticker.jpg"

