<%= form_for(@user_comment) do |f| %>
  <% if @user_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_comment.errors.count, "error") %> prohibited this user_comment from being saved:</h2>

      <ul>
      <% @user_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :related_id %><br />
    <%= f.text_field :related_id %>
  </div>
  <div class="field">
    <%= f.label :related_type %><br />
    <%= f.text_field :related_type %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
