<%= form_for(@relationship) do |f| %>
  <% if @relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relationship.errors.count, "error") %> prohibited this relationship from being saved:</h2>

      <ul>
      <% @relationship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :followed_user_id %><br />
    <%= f.text_field :followed_user_id %>
  </div>
  <div class="field">
    <%= f.label :auto %><br />
    <%= f.check_box :auto %>
  </div>
  <div class="field">
    <%= f.label :invisible %><br />
    <%= f.check_box :invisible %>
  </div>
  <div class="field">
    <%= f.label :blocked %><br />
    <%= f.check_box :blocked %>
  </div>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :found_on_other_network %><br />
    <%= f.check_box :found_on_other_network %>
  </div>
  <div class="field">
    <%= f.label :referred_signup %><br />
    <%= f.check_box :referred_signup %>
  </div>
  <div class="field">
    <%= f.label :referred_signup_via %><br />
    <%= f.text_field :referred_signup_via %>
  </div>
  <div class="field">
    <%= f.label :referrred_by_budge_request_id %><br />
    <%= f.text_field :referrred_by_budge_request_id %>
  </div>
  <div class="field">
    <%= f.label :referred_by_budge_id %><br />
    <%= f.text_field :referred_by_budge_id %>
  </div>
  <div class="field">
    <%= f.label :num_given_budges %><br />
    <%= f.text_field :num_given_budges %>
  </div>
  <div class="field">
    <%= f.label :num_accepted_budges %><br />
    <%= f.text_field :num_accepted_budges %>
  </div>
  <div class="field">
    <%= f.label :num_successful_budges %><br />
    <%= f.text_field :num_successful_budges %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
