$("#stream_index_list_#{@user.id}").append("#{escape_javascript(render :partial => 'stream/stream_list_items', :locals => {:entries => @entries})}");
$("#more_link_#{@user.id}").html("Load more&hellip;")
$("#more_entries_#{@user.id}").removeClass('ui-btn-active');
- if @entries.blank?
  $("#more_link_#{@user.id}").slideUp();
- else
  $("#stream_index_more_#{@user.id}").attr('data-next-page', "#{params[:page].to_i+1}");
