$('#toggle_#{@addon.token}').html("#{escape_javascript(render :partial => 'profile/addon_switch')}").page();
- if @user_addon and @user_addon.activated?
  if ($('.addon_state_#{@addon.token}').length) {
  $('.addon_state_#{@addon.token}').each(function(){
  $(this).css('color', 'green');
  $(this).html('on');
  });
  }
- elsif @user_addon
  if ($('.addon_state_#{@addon.token}').length) {
  $('.addon_state_#{@addon.token}').each(function(){
  $(this).css('color', 'red');
  $(this).html('off');
  });
  }
